<header>
    <nav>
      <ul>
        <li>
          <a {% if file.frontMatter.title=='Axe Throwing - Home' %} class='active' {% endif %} href="index.html">Home</a>
        <li>
          <a {% if file.frontMatter.title=='Axe Throwing - Rules' %} class='active' {% endif %} href="rules.html">Rules</a>
        </li>
        <li>
          <a {% if file.frontMatter.title=='Axe Throwing - Upcoming Dates' %} class='active' {% endif %} href="upcoming.html">Upcoming Dates</a>
        </li>
        <li>
          <a {% if file.frontMatter.title=='Axe Throwing - Winners' %} class='active' {% endif %} href="winners.html">Previous Winners</a>
        </li>
      </ul>
    </nav>
  </header>
  