<header>
    <nav>
      <ul>
        <li>
          <a {% if file.frontMatter.title=='International Axe Throwing' %} class='active' {% endif %} href="index.html">International Axe Throwing</a>
        </li>
        <li>
          <a {% if file.frontMatter.title=='Rules' %} class='active' {% endif %} href="rules.html">Rules</a>
        </li>
        <li>
          <a {% if file.frontMatter.title=='Upcoming' %} class='active' {% endif %} href="upcoming.html">Upcoming Dates</a>
        </li>
        <li>
          <a {% if file.frontMatter.title=='Previous Winners' %} class='active' {% endif %} href="winners.html">Previous Winners</a>
        </li>
      </ul>
    </nav>
  </header>
  